<%= form_for(resource, namespace: current_user.id, as: resource_name, url: registration_path(resource_name), html: {method: :put, id: 'personal_details_registration_form' }) do |f| %>
  <!--
  <p class="form-control-static">
    <%#= sanitize _("Please note that your email address is used as your username. If you change this, remember to use your new email address on sign in.") %>
  </p>

  <p class="form-control-static"><%= _('You can edit any of the details below.') %></p>
  <%#= hidden_field_tag :unlink_flag, "false", id: 'unlink_flag' %>
  -->
  <!-- Changed text_field to form-control-plaintext -->
  <div class="form-group col-xs-8">
    <%= f.label(:email, _('Email'), class: 'control-label') %>
    <div class="form-control-plaintext"><%= @user.email %></div>
  </div>

  <div class="form-group col-xs-8">
    <%= f.label(:firstname, _('First name'), class: 'control-label') %>
    <div class="form-control-plaintext"><%= @user.firstname %></div>
  </div>

  <div class="form-group col-xs-8">
    <%= f.label(:surname, _('Last name'), class: 'control-label') %>
    <div class="form-control-plaintext"><%= @user.surname %></div>
  </div>

  <% org_admin = (current_user.can_org_admin? && !current_user.can_super_admin?) %>
  <div class="form-group col-xs-8" id="profile-org-controls" <%= "data-toggle=\"tooltip\" title=\"#{_('Changing your organisation will result in the loss of your administrative privileges.')}\"" if org_admin %>>
    <%= f.label(:org, _('Organization'), class: 'control-label') %>
    <div class="form-control-plaintext"><%= current_user.org %></div>
  </div>
  <% if org_admin %>
    <input type="hidden" id="original_org" value="<%= @user.org_id %>">
  <% end %>

  <% departments = current_user.org.departments.order(:name) %>
  <% if departments.count > 0 %>
    <div class="form-group col-xs-8">
      <% dept_id = current_user.department.nil? ? -1 : current_user.department.id  %>
      <%= f.label(:department_id, _('Department or school'), class: 'control-label') %>
      <%= select_tag("user[department_id]",
                     options_from_collection_for_select(departments, "id", "name", dept_id),
                     include_blank: true,
                     disabled: departments.count === 0,
                     class: "form-control") %>
    </div>
  <% end %>

  <% if current_user.can_org_admin? %>
    <div class="form-group col-xs-8">
      <label><%= _('My privileges') %></label>
      <p><%= (current_user.can_super_admin? ? _('Super Admin') : _('Organisational Admin')) %></p>
    </div>
  <% end %>
  <!-- Removed save button -->
  <%= render partial: 'password_confirmation', locals: {f: f} %>
<% end %>
