<%= form_for resource, namespace: 'new', url: registration_path("user"), html: {autocomplete: "off", id: "create_account_form"} do |f| %>

  <div class="form-group">
    <%= f.label(:firstname, _('First Name'), class: "control-label") %>
    <!-- Changed text_field to form-control-plaintext for form control -->
    <div class="form-control-plaintext"><%= @user.firstname %></div>
  </div>
  <div class="form-group">
    <%= f.label(:surname, _('Last Name'), class: "control-label") %>
    <!-- Changed text_field to form-control-plaintext for form control -->
    <div class="form-control-plaintext"><%= @user.surname %></div>
  </div>
  <div class="form-group">
    <%= f.label(:email, _('Email'), class: "control-label") %>
    <!-- Changed email_field to form-control-plaintext for form control -->
    <div class="form-control-plaintext"><%= @user.email %></div>
  </div>
  <!-- Remove organisation field -->
  <!-- Remove password field -->
  <div class="form-group">
    <div class="checkbox">
      <%= f.label(:accept_terms) do %>
        <%= f.check_box(:accept_terms, "aria-required": true) %>
        <%= _('I accept the') %>
        <%= link_to _('terms and conditions'), terms_path %>
      <% end %>
    </div>
  </div>
  <% if Rails.configuration.x.recaptcha.enabled %>
    <div class="form-group">
      <%= label_tag(nil, _('Security check')) %>
      <%= recaptcha_tags %>
    </div>
  <% end %>
  <%= f.button(_('Create account'), class: "btn btn-default", type: "submit") %>
<% end %>
